:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --main-color: #0066b2;
  --main-background: #fff;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  margin: 0 auto;
  text-align: center;
  max-width: 1400px;
  --main-color: #0066b2;
  --main-color-hover: #9db2bf;
  --main-color-active: #526d82;
  --background-color: #27374d;
  --thirth-color: #f5efe6;
  --fourth-color: rgb(230, 230, 230);
  --fifth-color: #f1ece1;
  --button-money: rgb(0, 128, 0);
  overflow-x: hidden;
}

body {
  /* margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}
